.messages-list {
  padding: 50px 50px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 30;
  flex-grow: 1;
  overflow: auto;
}

.messages-message {
  display: flex;
  margin-top: 20px;
  max-width: 90%;
  align-self: flex-start;
  background-color: #e4e8eb;
  border-radius: 30px;
  padding: 10px 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.message-content {
  display: inline-block;
}

.currentMember > .message-content {
  align-items: flex-end;
}

.message-content > .username {
  display: block;
  font-size: 24px;
  padding-bottom: 30px;
}

.message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
}

.currentMember > .message-content .text {
  background-color: rgb(49, 51, 209);
}
